Repository tier4/autoware_lanelet2_map_validator, pull requests merged in 2025-06, with the labels that each got.

#55 chore: bump version to 1.4.1
  autoware_lanelet2_map_validator/CHANGELOG.rst
  autoware_lanelet2_map_validator/package.xml
Labels: type:documentation, tag:run-build-and-test-differential

#47 refactor: add docstring, comment and disambiguate std::string/ValidatorName
  autoware_lanelet2_map_validator/src/common/validation.cpp
  autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/utils.hpp
  autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/validation.hpp
  autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/validators/lane/border_sharing.hpp
  autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/validators/traffic_light/regulatory_element_details_for_traffic_lights.hpp
Labels: tag:run-build-and-test-differential

#57 feat: make validators adaptable to different refers type of virtual traffic lights
  autoware_lanelet2_map_validator/config/issues_info.json
  autoware_lanelet2_map_validator/config/params.yaml
  autoware_lanelet2_map_validator/docs/intersection/regulatory_element_details_for_virtual_traffic_lights.md
  autoware_lanelet2_map_validator/docs/intersection/virtual_traffic_light_line_order.md
  autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/validators/intersection/regulatory_element_details_for_virtual_traffic_lights.hpp
  autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/validators/intersection/virtual_traffic_light_line_order.hpp
  autoware_lanelet2_map_validator/src/validators/intersection/regulatory_element_details_for_virtual_traffic_lights.cpp
  autoware_lanelet2_map_validator/src/validators/intersection/virtual_traffic_light_line_order.cpp
  autoware_lanelet2_map_validator/test/src/intersection/test_regulatory_element_details_for_virtual_traffic_lights.cpp
  autoware_lanelet2_map_validator/test/src/intersection/test_virtual_traffic_light_line_order.cpp
Labels: type:documentation, tag:run-build-and-test-differential

#58 ci: quit using autoware:latest-prebuilt
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-and-test.yaml
  autoware_lanelet2_map_validator/src/main.cpp
Labels: tag:run-build-and-test-differential, type:ci

#59 fix: remove debug line for #58
  autoware_lanelet2_map_validator/src/main.cpp
Labels: tag:run-build-and-test-differential

#53 feat: validate overlaps between paths of virtual_traffic_lights
  README.md
  README_ja.md
  autoware_lanelet2_map_validator/config/issues_info.json
  autoware_lanelet2_map_validator/config/params.yaml
  autoware_lanelet2_map_validator/docs/intersection/virtual_traffic_light_section_overlap.md
  autoware_lanelet2_map_validator/map_requirements/autoware_requirement_set.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/cargo_transport-v2024_2_0.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/cargo_transport-v2024_7_0.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/cargo_transport-v2025_3_0.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/common.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/delivery_robot-v2023_10_2.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/v1.0.2/cargo_transport-v2024_2_0.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/v1.0.2/cargo_transport-v2024_7_0.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/v1.0.2/common.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/v1.0.2/delivery_robot-v2023_10_2.json
  autoware_lanelet2_map_validator/media/virtual_traffic_light_section_overlap_flow.drawio.svg
  autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/validators/intersection/virtual_traffic_light_line_order.hpp
  autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/validators/intersection/virtual_traffic_light_section_overlap.hpp
  autoware_lanelet2_map_validator/src/validators/intersection/virtual_traffic_light_section_overlap.cpp
  autoware_lanelet2_map_validator/test/data/map/intersection/virtual_traffic_light_not_overlapping_but_sharing_a_lanelet.osm
  autoware_lanelet2_map_validator/test/data/map/intersection/virtual_traffic_light_overlapping_with_multiple_lanelets.osm
  autoware_lanelet2_map_validator/test/data/map/intersection/virtual_traffic_light_overlapping_with_one_lanelet.osm
  autoware_lanelet2_map_validator/test/src/intersection/test_virtual_traffic_light_section_overlap.cpp
Labels: type:documentation, tag:run-build-and-test-differential

#60 feat: check whether the custom centerline is sticking out the lanelet
  README.md
  autoware_lanelet2_map_validator/config/issues_info.json
  autoware_lanelet2_map_validator/config/params.yaml
  autoware_lanelet2_map_validator/docs/lane/centerline_geometry.md
  autoware_lanelet2_map_validator/map_requirements/autoware_requirement_set.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/cargo_transport-v2024_2_0.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/cargo_transport-v2024_7_0.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/cargo_transport-v2025_3_0.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/common.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/delivery_robot-v2023_10_2.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/robo_taxi-v0_44_0_0.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/robo_taxi-v0_45_0_0.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/robo_taxi-v0_46_0.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/robo_taxi-v0_47_0.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/robo_taxi-v0_48_0.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/shuttle_bus-v2_3_0.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/shuttle_bus-v3_0_0.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/shuttle_bus-v3_1_0.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/shuttle_bus-v4_0_1.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/shuttle_bus-v4_1_0.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/v1.0.2/cargo_transport-v2024_2_0.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/v1.0.2/cargo_transport-v2024_7_0.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/v1.0.2/common.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/v1.0.2/delivery_robot-v2023_10_2.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/v1.0.2/robo_taxi-v0_44_0_0.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/v1.0.2/robo_taxi-v0_45_0_0.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/v1.0.2/robo_taxi-v0_46_0.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/v1.0.2/robo_taxi-v0_47_0.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/v1.0.2/shuttle_bus-v2_3_0.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/v1.0.2/shuttle_bus-v3_0_0.json
  autoware_lanelet2_map_validator/map_requirements/pilot-auto/v1.0.2/shuttle_bus-v3_1_0.json
  autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/utils.hpp
  autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/validators/lane/centerline_geometry.hpp
  autoware_lanelet2_map_validator/src/validators/lane/centerline_geometry.cpp
  autoware_lanelet2_map_validator/test/data/map/lane/centerline_ending_too_early.osm
  autoware_lanelet2_map_validator/test/data/map/lane/centerline_overpassing_lanes.osm
  autoware_lanelet2_map_validator/test/data/map/lane/centerline_with_strange_height_point.osm
  autoware_lanelet2_map_validator/test/data/map/lane/lanes_with_correct_centerlines.osm
  autoware_lanelet2_map_validator/test/src/lane/test_centerline_geometry.cpp
Labels: type:documentation, tag:run-build-and-test-differential
